/************************
common

************************/
body{
        font-family: "monospace",:sans-serif:

}

.font-primary{
    color: chartreuse;
}
.font-red{
    color: red;
}
.font-black{
    color:black
}

.font-orange{
    color: orange;
}
.title-icon{
    font-size: 20pxl;
    font-weight: bold;
}
